@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.hero-container {
  background-image: url("../assets/Rectangle\ 28.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-about {
  width: 1440px;
  height: 244px;
  display: flex;
  justify-content: space-between; /* распределение элементов с отступами */
  align-items: center; /* выравнивание по вертикали */
  position: relative; /* для фоновых эллипсов */
  margin: 0 auto; /* центрируем блок */
}